
.btn {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	height: 45px;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	border-radius: 50px;
  }
  .btn:hover {
	text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
	color: #FFF;
	border: 4px solid #f89d13;
	box-shadow:0px 0px 0px 1px #f89d13 inset;
	background-color: #f89d13;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
	border: 4px solid #f8dbc0;
	background-color: #FFF;
	box-shadow:0px 0px 0px 4px rgb(246, 246, 246) inset;
  }
  
  /*btn_text*/
  .effect01 span {
	transition: all 0.2s ease-out;
	z-index: 2;
  }
  .effect01:hover span{
	letter-spacing: 0.13em;
	color: #555;
  }
  
  /*highlight*/
  .effect01:after {
	background: #FFF;
	border: 0px solid #f89d13;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
			transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
	z-index: 1;
  }
  .effect01:hover:after {
	background: #FFF;
	border: 20px solid #f89d13;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
			transform: rotate(40deg);
  }



  /* Services cards */

.line-border {
	display: block;
    width: 80px;
    height: 3px;
    background: #f89d13;
    margin: 20px auto;
}

/*Profile Card 5*/
.profile-card-5{
	margin-top:40px;
	transition: transform 0.5s;
}
.profile-card-5:hover {
	transform: translateY(-8px);
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#f89d13;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}

/* about us */

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}

.about-button {
	display: inline-block;
	background: #f89d13;
	color: #fff;
	font-weight: 600;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}


.about-button:hover {
	background: #fff;
	border: 2px solid #f89d13;
	color: #555;
}

.message-button {
	display: inline-block;
	background: #f89d13;
	color: #fff;
	font-weight: 600;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	border: none;
	transition: background 0.5s;
}

.message-button:hover {
	background: #fff;
	border: 2px solid #f89d13;
	color: #555;
}

.tracking-card {
    bottom: -40px;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
 

.about {
	background: radial-gradient(#fff, #ffe7d1);
	margin-top: 60px;
	padding: 30px 0;
}

.about-img {
    width: 300px;
    margin-top: 100px;
}

.contact-card {
    padding: 20px;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
}

.footer {
    background: #333333;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
    
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 230px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

